<!doctype html>
<html lang="<%- lang %>" data-bs-theme="dark">

<head>
    <%- head %>

    <% for(const assetUrl of Object.values(manifest)) { %>
        <% if (assetUrl.endsWith('.css')) { %>
        <link rel="preload" href="<%- assetUrl %>" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <noscript><link rel="stylesheet" href="<%- assetUrl %>"></noscript>
        <% } %>
    <% } %>
</head>

<body>
    <div id="vue-app">
        <%- body %>
    </div>

    <%- include('partials/sentry.ejs') %>

    <% for(const assetUrl of Object.values(manifest)) { %>
        <% if (!assetUrl.endsWith('.css')) { %>
        <script type="module" src="<%- assetUrl %>"></script>
        <% } %>
    <% } %>
</body>

</html>
